// Brand colors
$key-lime: rgb(153, 255, 102);
$easter-egg-pink: rgb(255, 153, 255);
$summer-sky: rgb(51, 204, 255);
$dijon: rgb(255, 204, 0);
$satanic-grey: #666;
$light-grey: #f5f5f5;

// Our version of common colors
$yellow: $dijon;
$blue: $summer-sky;
$green: $key-lime;
$red: #ff1e44;
$white: #FFF;
$black: #000;
$light-grey: #f5f5f5;
$grey: #AAA;
$dark-grey: $satanic-grey;

.yellow {
 background-color: $yellow;
}
.blue {
 background-color: $blue;
}
.green {
 background-color: $green;
}
.red {
 background-color: $red;
}
.black {
 background-color: $black;
}
.white {
 background-color: $white;
}

// Brand colors mapped to brand-agnostic names. These are the variables that should be used in other files.
$color-light: $white;
$color-dark: #222;
$color-shadow: rgba($black, .125);
$color-primary: $summer-sky;
$color-accent: $easter-egg-pink;
$color-background: $white;
$color-background-shade: $satanic-grey;
$color-background-invert: $dijon;
$color-text: darken($satanic-grey, 15);
$color-text-weak: $light-grey;
$color-text-strong: $dijon;
$color-text-heading: $satanic-grey;
$color-text-invert: rgba($color-background, .75);
$color-text-strong-invert: $color-background;

// Links
$color-text-link: $color-text;
$color-text-link-visited: $color-text-link;
$color-text-link-hover: $color-text-link;
$color-text-link-active: $color-text-link;
$color-text-link-bgcolor: lighten($color-accent, 10%);
$color-text-link-bgcolor-visited: $color-text-link-bgcolor;
$color-text-link-bgcolor-hover: darken($color-text-link-bgcolor, 10%);
$color-text-link-bgcolor-active: darken($color-text-link-bgcolor, 10%);
$color-text-link-border: $color-primary;

// Alerts, Warnings, Success, Info
$color-border: $dijon;
$warning-color: $yellow;
$success-color: $green;
$error-color: $red;
$info-color: $blue;
