.custom-list-view {
 border-radius: 10px;
 border: 1px solid $dark-grey;
}
.custom-list-view .list-items {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}
.list-view-type-selector {
 border-radius: 10px 10px 0 0;
 background-color: $dijon;
 text-align: right;
 margin: 0px;
 padding: 0px;
}
.type-selector {
 display: inline-block;
 margin: 0px 10px 0px 0px;
 font-size: 2em;
 color: $dark-grey;
 background-color: $white;
}
.type-selector.active {
 color: $white;
 background-color: $dark-grey;
}

.flexible-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flexible-grid .list-item {
 flex: 0 0 10%;
 border-radius: 25px;
 // border: 2px solid $grey;
 padding: 5px;
 margin: 10px;
}
.flexible-grid .list-item .button {
 font-size: .8em;
 width: 75px;
 height: 75px;
 line-height: 75px;
 border-radius: 40px;
 padding: 0;
}

.scroll-list {
  text-align: center;
}
.scroll-list .list-item {
 display: block;
}
