$button-padding: 0.5rem 1rem;
$font-size: type-scale(-1);                // utility function

// All buttons
$button-min-height: 45px;
$button-min-width: 100px;
$button-border-style: solid;
$button-border-radius: 3px;
$button-border-width: 2px;

// Primary, default button
$button-text-color: $color-light;
$button-bgcolor: $color-primary;
$button-text-color-hover: $button-bgcolor;
$button-bgcolor-hover: $button-text-color;
$button-border-color: $button-bgcolor;

// secondary button
$button-secondary-text-color: $color-light;
$button-secondary-bgcolor: $color-accent;
$button-secondary-text-color-hover: $button-secondary-bgcolor;
$button-secondary-bgcolor-hover: $button-secondary-text-color;
$button-secondary-border-color: $button-secondary-bgcolor;

// warning button
$button-warning-text-color: $color-light;
$button-warning-bgcolor: $error-color;
$button-warning-text-color-hover: $button-warning-bgcolor;
$button-warning-bgcolor-hover: $button-warning-text-color;
$button-warning-border-color: $button-warning-bgcolor;

button, .button, {
 &, &:hover, &:active, &:focus, &:visited {
  margin: 5px 10px;
  user-select:none;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  padding: $button-padding;
  transition: background-color $color-change-speed, color $color-change-speed;
  min-height: $button-min-height;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  border-width: $button-border-width;
 }
}
button, .button, .button.primary {
 color: $button-text-color;
 background-color: $button-bgcolor;
 border-color: $button-border-color;
 &:hover, &:active, &:focus, &:visited {
  color: $button-text-color-hover;
  background-color: $button-bgcolor-hover;
  border-color: $button-border-color;
 }
}

button, .button {
 &__secondary {
  color: $button-secondary-text-color;
  background-color: $button-secondary-bgcolor;
  border-color: $button-secondary-border-color;
  &:hover, &:active, &:focus, &:visited {
   color: $button-secondary-text-color-hover;
   background-color: $button-secondary-bgcolor-hover;
   border-color: $button-secondary-border-color;
  }
 }
}


button, .button  {
 &__warning {
  color: $button-warning-text-color;
  background-color: $button-warning-bgcolor;
  border-color: $button-warning-border-color;
  &:hover, &:active, &:focus, &:visited {
   color: $button-warning-text-color-hover;
   background-color: $button-warning-bgcolor-hover;
   border-color: $button-warning-border-color;
  }
 }
}

/* Round buttons - Floating Action Buttons FABs */
button, .button {
 &__round, &__floating-action {
  border-radius: 25px;
  border-width: 0;
  border: none;
  min-height: 50px;
  min-width: 50px;
  box-shadow: 0px 10px 20px $color-shadow;
  font-weight: bold;
  text-shadow: 0px 2px $color-shadow;
  &:hover, &:focus {
  border-radius: 25px;
  border-width: 0;
  border: none;
  min-height: 50px;
  min-width: 50px;
  box-shadow: 0px 10px 20px $color-shadow;
  font-weight: bold;
  text-shadow: none;
  }
  &:active {
  border-radius: 25px;
  border-width: 0;
  border: none;
  min-height: 50px;
  min-width: 50px;
  font-weight: bold;
  text-shadow: none;
   box-shadow: 0px 5px 10px darken($color-shadow, 100%);
  }
 }
}
