a:not(.button) {
 font-weight: bold;
 color: $color-text-link;
 background-color: $color-text-link-bgcolor;
 border-bottom: 2px solid lighten($color-text-link-border, 20%);
 text-decoration: none;
}
a:visited {
 color: $color-text-link-visited;
 background-color: $color-text-link-bgcolor-visited;
 border-bottom: 2px solid darken($color-text-link-border, 20%);
 text-decoration: none;
}
a:hover {
 color: $color-text-link-hover;
 background-color: $color-text-link-bgcolor-hover;
 border-bottom: 2px solid darken($color-text-link-border, 20%);
 text-decoration: none;
}
a:active {
 color: $color-text-link-active;
 background-color: $color-text-link-bgcolor-active;
 border-bottom: 2px solid darken($color-text-link-border, 20%);
 text-decoration: none;
}
a.external::after {
 content: '\0e840';
 display: inline-block;
 margin-left: 5px;
 font-family: $font-family-icon;
}
